body {
    background-color: #FDFFE2;   
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    height: 70vh;
    background: url(./images/Back.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;

}



nav {

    background-color: navy ;
    opacity: 0.8;
    
}

nav , ul li a{
    text-shadow: 0.1rem  0.2rem darkred;
    padding: 0.5dvh;
    color: gold;
    display: flex;
    justify-content: center;
    
    
}



contacts{
    height: 20vh;
    overflow: scroll;
}

header{
    
   
    width: 250px;
    min-height: 5vh;
    padding: 2rem;
    color: rgb(243, 228, 15);
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-shadow: 0.1rem  0.2rem darkred;

   

}

.Namecard{
    text-align: center;
    text-transform: capitalize;
    text-overflow: clip;
    width: 200px;
}

#summary{
    color: rgb(243, 228, 15);
    text-shadow: 0.1rem  0.2rem darkred;

    

}


#education{

    color: rgb(243, 228, 15);
    text-shadow: 0.1rem  0.2rem darkred;

}


#skills{

    color: rgb(243, 228, 15);
    text-shadow: 0.1rem  0.2rem darkred;
}



#projects{

    display: flex;
    justify-content: center;
    color: rgb(243, 228, 15);
    text-shadow: 0.1rem  0.2rem darkred;
}


#experience{

    color: rgb(243, 228, 15);
    text-shadow: 0.1rem  0.2rem darkred;
}


.contactinfo{

    display: flex;
    align-items: center;
    flex-flow: column;
    font-size: 1.5rem;
    color: rgb(243, 228, 15);
    text-shadow: 0.1rem  0.2rem darkred;
}

.icon{
    font-size: 3rem;
    opacity: 1;
}


.linkicons{

    display: flex;
    flex-direction: row;
    justify-content: space-around  ;
    font-size: 2rem;
    transform-box:fill-box;
    width: 300px;
    color: rgb(243, 228, 15);
    text-shadow: 0.1rem  0.2rem darkred;
}

.last{

    display: flex;
    
    align-content: end;
    justify-content: space-around ;
    font-size: 2rem;
    transform-box:fill-box;
    min-width: 400px;
    color: rgb(243, 228, 15);
    text-shadow: 0.1rem  0.2rem darkred;
}